.form-group.form-group-sm
  label.control-label.col-sm-2(ng-bind="$ctrl.propertyLabel")
  .col-sm-10
    input.form-control(type="text", ng-model="$ctrl.propertyValue", ng-change="$ctrl.textChanged()", ng-readonly="$ctrl.readOnly")
