button.btn.btn-primary(ng-click="$ctrl.getTest()") Get
button.btn.btn-primary(ng-click="$ctrl.getAllTest()") Get All
button.btn.btn-primary(ng-click="$ctrl.createTest()") Create
button.btn.btn-primary(ng-click="$ctrl.updateTest()") Update
button.btn.btn-primary(ng-click="$ctrl.saveTest()") Save
button.btn.btn-primary(ng-click="$ctrl.deleteTest()") Delete
