.flex-row.flex-auto
  pde-toolbar-button-group(ng-repeat="group in $ctrl.getLeftButtonGroups()", data="group")

.flex-row
  pde-toolbar-button-group(ng-repeat="group in $ctrl.getRightButtonGroups()", data="group")
