.alert {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  background-color: transparent;
}

.alert.visible {
  opacity: 1;
  transform: translateX(0);
}

.alert.hidden {
  opacity: 0;
  display: none;
}

/* .alert-content {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  margin-right: 5px;
}

.message {
  flex: 1;
} */

/* Add any additional styling you need */
